.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
  }
  
  .modal {
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
  }
 
.closeButton{
  position: absolute;
  font-weight: 700;
  font-size: 20px;
  top:  20px;
  right :100px ;
  background-color: rgba(228, 228, 247, 0.424);
  color: rgb(166, 143, 248);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color:  rgb(119, 86, 240);;
}